footer{
    height: 10%;
    background: linear-gradient(#fff 0%, #4d4d4d 46%, #262626 100%);
    padding: 1%;

    img{
        padding-top: 2%;
        width: 50%;
        margin: 0 43%;
    }

    .footer-text{
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 18px;
        color: #f7f6f4;
        margin-bottom: 0 !important;
        padding-top: 15px;
    }
}
