 .input-name {
     text-align: right;
     font-size: 20px;
     border-radius: 29px;
     background: rgba(237, 237, 237, 0.44);
     border: 2px solid $mainCol;
     height: 3.5rem;
     -webkit-border-radius: 29px;
     -moz-border-radius: 29px;
     -ms-border-radius: 29px;
     -o-border-radius: 29px;
     outline: none;
     box-shadow: 0px 4px 12px rgb(0 0 0 / 13%);
 }