$gray: #6c6c6c;
.search {
    width: 100%;
    &:focus {
        outline: none !important;
        box-shadow: none;
        border: 1px solid $mainCol !important;
        padding-right: 16%;
    }
    input {
        width: 90%;
        height: 60px;
        border-radius: 16px;
        background: #fff;
        box-shadow: 0px 16px 50px rgba(78, 125, 150, 0.1);
        border: none;
        position: relative;
        transition: 0.5s;
        &:focus {
            outline: none !important;
            box-shadow: none;
            // border: 1px solid $mainCol;
            padding-right: 6%;
            box-shadow: 0px 16px 50px rgba(78, 125, 150, 0.1);
        }
        &::placeholder {
            padding-right: 2%;
            font-family: 'Tajawal';
            font-weight: normal;
            font-size: 18px;
            color: #14172e;
        }
    }
    .btn-icon {
        background: #fff;
        border: none;
        height: 60px;
        margin: auto;
        /* padding-right: 37px; */
        margin-right: 7px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        &:focus {
            box-shadow: none;
            border: none;
            outline: none;
        }
    }
}

.sidebar {
    width: 80%;
    height: 80vh;
    border-radius: 16px;
    background: #fff;
    border: 2px solid $mainCol;
    box-shadow: 0px 16px 50px rgba(78, 125, 150, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    position: sticky;
    top: 15px;
    right: 10px;
    a {
        width: 90%;
        display: inline-flex;
        align-items: center;
        height: 45px;
        padding: 2% 4% 4%;
        border-radius: 13px;
        border: 1px solid #ededed;
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 20px;
        text-align: right;
        color: #fff;
        margin-bottom: 4%;
    }
    // .red-color{
    //     background: $mainCol;
    //     transition: 0.5s;
    //     &:hover{
    //         background: transparent;
    //         border: 1px solid $mainCol;
    //         color: $mainCol;
    //     }
    // }
    // .gray-color{
    //     background: $gray;
    //     transition: 0.5s;
    //     &:hover{
    //         background: transparent;
    //         border: 1px solid $gray;
    //         color: $gray;
    //     }
    // }
    .seprator {
        border-bottom: 1px solid $mainCol;
        width: 90%;
        height: 10px;
        margin: 15px 0 30px;
    }
    .transparent-bg {
        border-radius: 13px;
        background: transparent;
        border: 2px solid $mainCol;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 20px;
        text-align: right;
        color: $mainCol;
        margin-bottom: 20px;
    }
}